{% extends 'base.html' %}

{% block title %}
    <title>Change Password</title>
{% endblock %}

{% block body %}
    <div class="container login-panel">
        <div class="card">
            <div class="card-header bg-secondary">
                <h3 class="card-title text-light">Change Password</h3>
            </div>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {% if form.old_password.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ form.old_password.errors|striptags }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <label for="username" class="control-label">{{ form.old_password.label }}:</label>
                        {{ form.old_password }}
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">{{ form.new_password1.label }}:</label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="form-group">
                        {% if form.new_password2.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ form.new_password2.errors|striptags }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <label for="password" class="control-label">{{ form.new_password2.label }}:</label>
                        {{ form.new_password2 }}
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Change Password" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}